@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0909;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #101010;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  @apply w-full px-4 py-2 border rounded-lg text-gray-700 placeholder-gray-400 focus-visible:outline-0 focus:ring-1 focus:ring-blue-200;
}

/* Side Bar style  */
.sidebar.collapsed {
  width: 80px;
}

.sidebar.collapsed .sidebar-header {
  display: none;
}

.sidebar.collapsed .sidebar-content span {
  display: none;
}

.sidebar.collapsed svg {
  margin: auto;
}
