@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  @apply w-full px-4 py-2 border rounded-lg text-gray-700 placeholder-gray-400 focus-visible:outline-0 focus:ring-1 focus:ring-blue-200;
}
